USE [master]
GO
/****** Object:  Database [CountDownTime]    Script Date: 3/16/2024 4:12:50 PM ******/
CREATE DATABASE [CountDownTime]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountDownTime', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.PHAMTUANANH\MSSQL\DATA\CountDownTime.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CountDownTime_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.PHAMTUANANH\MSSQL\DATA\CountDownTime_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountDownTime].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountDownTime]
GO
/****** Object:  Table [dbo].[CountdownConfig]    Script Date: 3/16/2024 4:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountdownConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountdownTime] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
